<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
        <div class="row">
            <h1 class="col-lg-12">Gestor de clientes</h1>
            <button class="col-xs-12 col-lg-4 btn btn-info" on-click="obtenerClientes" >Cargar Clientes</button>
            <button class="col-xs-12 col-lg-4 btn btn-info" on-click="agregarClientes" >Resgistro</button>
            <button class="col-xs-12 col-lg-4 btn btn-info" on-click="obtenerClientes2" >Consulta de Clientes</button>
            <button class="col-xs-12 col-lg-4 btn btn-info" on-click="createSimgleCliente" >createSimgleCliente</button>
            

        </div>
        <div class="row">
            <table class="table table-striped">
                <tbody>
                    <template is="dom-repeat" items="{{clientes}}">
                        <tr>
                            <td>[[item.CustomerID]]</td>
                            <td>[[item.ContactName]]</td>
                            <td>[[item.CompanyName]]</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
  </template>

  
  <script>
    /**
    * databinding corchetes dobles en una sola direccion
    *dobe direccion es con doble llave
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify:true
          }
        };
      }
      obtenerClientes2(){

        let request= new XMLHttpRequest();
        const url = "http://127.0.0.1:8081/components/demopolymer/src/db/db.json";
        request.open('GET',url, false);
        request.setRequestHeader('Accept', 'application/json');
        request.send();
                
        this.clientes = JSON.parse(request.responseText).value;
        console.log(this.clientes);
        console.table(this.clientes);
      }

      createSimgleCliente(){

        let request= new XMLHttpRequest();
        const url = "http://127.0.0.1:8081/components/demopolymer/";
        
        let newId = Math.floor(Math.random() * 99.99);

        request.open('POST',url, true); /*Agregar*/

        console.log(`url ${url}`);

        request.onreadystatechange = function () { 

          if (request.readyState == 4 && request.status == 200) {
              var json = JSON.parse(request.responseText).value;
              console.log(json.CustomerID + ", " + json.ContactName+ ", " + json.CompanyName);
          }else{
            console.log("error");
          }
        }
        var data = JSON.stringify({
             "CustomerID":newId,
             "ContactName":"Jazmin",
             "CompanyName":"Chilis"
            });

          console.log(request);        

        request.setRequestHeader('Accept', 'application/json');
        request.setRequestHeader('Content-Type', 'application/json');

        request.send(data);

        // let request= new XMLHttpRequest();
        // const url = "./src/db/db.json";
        // let newId = Math.floor(Math.random() * 99.99);
        
        // console.log(url);

        // request.open("POST", url, true);
        
        // request.setRequestHeader('Content-type', 'application/json; charset=utf-8');

        // let nuevoCliente = {
        //     "CustomerID":newId,
        //     "ContactName":"Jazmin",
        //     "CompanyName":"Chilis"
        // };

        // let body = JSON.stringify(nuevoCliente);
  
        // request.send(body);
            
      }

      obtenerClientes(){
        
        let request= new XMLHttpRequest();
        const url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        
        request.open('GET',url, false);
        request.setRequestHeader('Accept', 'application/json');
        
        request.send();
        
        this.clientes = JSON.parse(request.responseText).value;
        console.table(this.clientes);
        
      }
      agregarClientes(){
        let request= new XMLHttpRequest();
        const url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";

        request.open('POST',url, false); /*Agregar*/
        request.setRequestHeader('Accept', 'application/json');
        request.setRequestHeader('Content-Type', 'application/json');

        let nuevoCliente = {
            "CustomerID":"123",
            "ContactName":"Jazmin",
            "CompanyName":"Chilis"
        };

        let body = JSON.stringify(nuevoCliente);
        
        request.send(body);
        this.respuesta = request.responseText();
        console.log(this.respuesta);
      }

      

    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
