<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
        <div class="row">
            <img class="col-xs-12 col-lg-8" src="https://image.flaticon.com/icons/svg/741/741407.svg" />
        </div>
        <div class="row">
            <button class="col-xs-12 col-lg-4 btn btn-info" type="button" bane="button" on-click="incrementar" >Cargar Datos</button>
                       
            Bidireccional<input type="text" placeholder="[[prop3]]" value="{{prop1::input}}" />
            
            Unidireccional<input type="text" value="[[prop1]]" />

        </div>
        <div class="row">
            <table class="table table-striped col-lg-12 col-xs-12">
                <thead>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                </thead>
                <tbody>
                    <tr>
                        <td>[[prop2]]</td>
                        <td>Mijael </td>
                        <td>Pimentel</td>
                    </tr>
                    <tr>
                        <td>[[prop2]]</td>
                        <td>Jazmin </td>
                        <td>Chavez</td>
                        </tr>
                    <tr>
                        <td>[[prop2]]</td>
                        <td>Luz Michell Monserrat</td>
                        <td>Pimentel Chavez</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </template>

  
  <script>
    /**
    * databinding corchetes dobles en una sola direccion
    *dobe direccion es con doble llave
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
          },
          prop2:{
            type: Number,
            value: 666
          },
          prop3:{
            type: String,
            value: 'Indique su usuario'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log(`propiedad 1: ${this.prop1}`);
        console.log(`propiedad 2: ${this.prop2}`);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
